/* #correction{
    margin:30px;
    width: 70%;
    display: inline-block;
} */
#radiobutton{
    height:40px;
    width:40px;
    margin-left: 40%;
}
.price{
    text-align: center;
}
#main {
    /* margin-left: 250px; */
    transition: margin-left .5s;
    padding: 16px;
    /* margin-left: 50px; */
  }

  #profileImage{
      height:200px;
      width:200px
  }