<!-- <div class="sidebar">
    <div style="text-align: center;"> -->

      <!-- Do not uncomment -->
      <!-- <img src="1.png" alt="ProfileImage" class="profile_image"> -->


      <!-- <h4>Options</h4>
    </div>
    <a routerLink="/dashboard/profile"><i class="fas fa-desktop"></i><span>My Profile</span></a> -->

    <!-- Do not uncomment -->
    <!-- <a href="#"><i class="fas fa-cogs"></i><span>Register a New Car</span></a> -->


    <!-- <a *ngIf="!isWasher"  routerLink="/dashboard/placeOrder"><i class="fas fa-table"></i><span>Place a Car Wash Order</span></a>
    <a *ngIf="!isWasher" routerLink="/dashboard/myOrders"><i class="fas fa-th"></i><span>My Orders</span></a>
    <a routerLink="/dashboard/washerOrders"><i class="fas fa-th"></i><span>My Orders</span></a>
    <a href="#"><i class="fas fa-info-circle"></i><span>Notifications</span></a> -->

    <!-- Do not uncomment -->
    <!-- <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a> -->


<!-- </div> -->

<!-- *************************************************************************************************************************** -->
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; OPTIONS</span>
<p id="iswasher">isWasher: {{isWasher}}</p>
<div id="mySidenav" class="sidenav">
  
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a routerLink="/dashboard/profile"><span>My Profile</span></a>
  <a *ngIf="!isWasher || isAdmin"  routerLink="/dashboard/placeOrder"><span>Place a Car Wash Order</span></a>
  <a *ngIf="!isWasher || isAdmin" routerLink="/dashboard/myOrders"><span>My Orders</span></a>
  <a *ngIf="isWasher || isAdmin" routerLink="/dashboard/availableOrders"><span>Available Orders</span></a>
  <a *ngIf="isAdmin" routerLink="/dashboard/viewAllOrders"><span>View All Orders</span></a>
  <a *ngIf="isWasher" routerLink="/dashboard/washerOrders"><span>My Orders</span></a>
  <a *ngIf="isAdmin" routerLink="/dashboard/viewCustomers"><span>View Customers</span></a>
  <a *ngIf="isAdmin" routerLink="/dashboard/viewWashers"><span>View Washers</span></a>
  <!-- <a href="#"><span>Notifications</span></a> -->
  
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

  