<app-side-bar></app-side-bar>
<div id="main">
    
<div class="card">
    <img src="../assets/blankImage.png"  *ngIf="otherProfile.profileImg==null" alt="Profile Picture" style="width:100%" height=400>
    <img id="profileImage" src="{{otherProfile.profileImg}}"  *ngIf="profileData.profileImg!=null" alt="Profile Picture" style="width:250" height=300>
    
    <form #profilePicture="ngForm" enctype="multipart/form-data">
      <input type="file" name="profileImg" (change)="onFileSelect($event,profilePicture.value)"  ngModel>
      <button type="submit" (click)="updatePicture(profilePicture.value)">Save</button>
    </form>
    <h1>{{otherProfile.firstName}} {{otherProfile.lastName}}</h1>
    <p class="title">{{otherProfile.email}}</p>
    <p>Date Of Birth: {{otherProfile.dob}}</p>
    <p>Gender: {{otherProfile.gender}}</p>
    <p>Phone No.: {{otherProfile.phone}}</p>
    
    <button type="button" class="btn btn-success" (click)="editProfile()">Edit Profile</button>
  </div>
</div>
