<div id="main">
        <!-- About -->
        <div id="about" class="basic-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Contact Us</h2>
                        <p class="p-heading p-large">Please free to contact us for any queries at our email address:<br><strong style="color: blue;">onDemadCarWashSystem@g.com</strong></p>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
                <div class="row">
                    <div class="col-lg-12">
                        
                       
    
                        <!-- Team Member -->
                        <div class="team-member" style="margin-top: 30px;">
                            <div class="image-wrapper">
                                <img class="img-fluid" src="../assets/images/team-member-2.svg" alt="alternative">
                            </div> <!-- end of image wrapper -->
                            <p class="p-large"><strong>Admin</strong></p>
                            <p class="job-title">Administrator</p>
                            <p class="job-title">Email:<br><strong style="color: blue;">admin@admin.com</strong></p>
                            
                        </div> <!-- end of team-member -->
                        <!-- end of team member -->
    
                        
    
                        
    
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of basic-4 -->
        <!-- end of about -->
</div>
