<app-side-bar></app-side-bar>
<div id="main">
    <table class="table">
        <thead class="thead-light">
          <tr>

            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let washer of washers">
            <td>{{washer.firstName}}</td>
            <td>{{washer.lastName}}</td>
            <td>{{washer.email}}</td>
            <td>{{washer.phone}}</td>
            <td><button type="button" class="btn btn-success" (click)="viewWasher(washer)">View Profile</button></td>
          </tr>          
        </tbody>
      </table>
</div>