/* #correction{
    margin:30px;
    width: 70%;
    display: inline-block;
} */
#radiobutton{
    height:40px;
    width:40px;
    margin-left: 40%;
}
.price{
    text-align: center;
}
#main {
    /* margin-left: 250px; */
    transition: margin-left .5s;
    padding: 16px;
    /* margin-left: 50px; */
  }
  #logo1{
    margin: 15px auto;
    height: 200px;
    width: 200px;
  }

  #removetoppadding{
    padding-top: 0;
  }
  
  #mapid2{
      margin: 10px auto;
  }

  