<!-- <app-dash-nav></app-dash-nav> -->
<app-side-bar></app-side-bar>
<div id="main">
    <h1>Dashboard</h1>
    <!-- <div class="card-deck">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="../assets/carwash1.png" alt="Card image" style="width:100%">
            <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
        <div class="card" style="width:400px">
            <img class="card-img-top" src="../assets/carwash2.png" alt="Card image" style="width:100%">
            <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>  
        <div class="card" style="width:400px">
            <img class="card-img-top" src="../assets/carwash3.png" alt="Card image" style="width:100%">
            <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>  
    </div> -->
    {{isWasher}}
    <div *ngIf="isWasher">
        <div class="row">
            <div class="col-sm-6">
                <div class="card" style="width:400px">
                    <!-- <img class="card-img-top" src="../assets/carwash1.png" alt="Card image" style="width:100%"> -->
                    <div class="card-body">
                    <h4 class="card-title">View Available Orders</h4>
                    <p class="card-text">View the orders posted by customers to review and accept them.</p>
                    <a routerLink="/dashboard/availableOrders" class="btn btn-primary">View Available Orders</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-6">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../assets/carwash2.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h4 class="card-title">My Accepted Orders</h4>
                    <p class="card-text">View all your accepted orders since you registered.</p>
                    <a href="#" class="btn btn-primary">View Accepted Orders</a>
                    </div>
                </div>
            </div> -->
        </div>
        <br><br><br>
        <!-- <div class="row">
            <div class="col-sm-6">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../assets/carwash1.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h4 class="card-title">View Completed Orders</h4>
                    <p class="card-text">Here you can get a list completed orders.</p>
                    <a href="#" class="btn btn-primary">View Completed Orders</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="../assets/carwash2.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h4 class="card-title">View Pending Orders</h4>
                    <p class="card-text">Here you can browse through your pending orders which you have accepted.</p>
                    <a href="#" class="btn btn-primary">View Pending Orders</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>    
    
</div>

