
#firstpara{
	background-color: rgb(224,255,255);
	border: 6px solid black;
}
#secondpara{
	background-color: rgb(224,255,255);
	border: 3px solid black;
}
#thirdpara{
	background-color: rgb(224,255,255);
	border: 1px solid black;
}
