<app-side-bar></app-side-bar>

<div id="main">
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25"> <img id="profileImage" src="{{otherProfile.profileImg}}" class="img-radius" alt="User-Profile-Image"> </div>
                                    <h6 class="f-w-600" style="color:black">{{otherProfile.firstName}} {{otherProfile.lastName}}</h6>
                                    <p style="color:black">{{otherProfile.type}}</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                            <form #saveForm="ngForm">    
                                <div class="card-block">
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">First Name</p>
                                            <h6 class="text-muted f-w-400"><input type="text" name="firstName" [ngModel]="this.otherProfile.firstName"></h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Last Name</p>
                                            <h6 class="text-muted f-w-400"><input type="text" name="lastName" [ngModel]="this.otherProfile.lastName"></h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Email</p>
                                            <h6 class="text-muted f-w-400"><input type="text" name="email" [ngModel]="this.otherProfile.email" disabled></h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Phone No.</p>
                                            <h6 class="text-muted f-w-400"><input type="text" name="phone" [ngModel]="this.otherProfile.phone"></h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Date of Birth</p>
                                            <h6 class="text-muted f-w-400">
                                                <input type="date" id="dob" name="dob" [ngModel]="this.dateValue">
                                            </h6>
                                        </div>
                                        
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Save Options</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Save</p>
                                            <h6 class="text-muted f-w-400"><button type="button" class="btn btn-success" (click)="saveProfile(saveForm.value)">Save Profile</button></h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Cancel</p>
                                            <h6 class="text-muted f-w-400"><button type="button" class="btn btn-success" (click)="cancel()">Cancel</button></h6>
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    