<app-side-bar></app-side-bar>
<div id="main">
  <h1>All Orders</h1>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Date Posted</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer Id</th>
            <th scope="col">Customer Phone</th>
            <th scope="col">Package</th>
            <th scope="col">Price</th>
            <th scope="col">Completed</th>
            <th scope="col">Completed</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of allOrders">
            <td>{{order.orderPosted}}</td>
            <td>{{order.custName}}</td>
            <td>{{order.custId}}</td>
            <td>{{order.custPhoneNo}}</td>
            <td>{{order.packageName}}</td>
            <td>{{order.packagePrice}}</td>
            <td>{{order.isComplete}}</td>
            <td><button type="button" class="btn btn-success" (click)="viewOrder(order._id)">View Order</button></td>
          </tr>          
        </tbody>
      </table>
</div>
